// Specific CSS for your home-page
body{
  background-image: url("https://images.unsplash.com/photo-1587437720061-dc5f28eb58ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG1vbnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
  background-repeat: no-repeat;
  background-size: cover;
 
}
