// Specific CSS for your home-page
html {
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8TW91bnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #F9F9F9;
    text-align: center;
    padding-top: 2rem;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #F9F9F9;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.form-control {
  background-color: #F9F9F9;
  border: none;
  border-radius: 1rem;
  box-shadow: none;
  color: #212529;
  font-size: 1.25rem;
  font-weight: 300;
  height: 1rem;
  padding: 0.75rem;
}

.btn {
  background-color: #F9F9F9;
  border: none;
  border-radius: 1rem;
  box-shadow: none;
  color: #212529;
  font-size: 0.75rem;
  font-weight: 300;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
