.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background-color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px #EFEFEF;
  border: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

.card:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px #EFEFEF;
  border: #F9F9F9;
  opacity: 0.8;
}

img {
  width: 80%;
  border-radius: 1rem;
}
