.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 2rem;
  opacity:0.6;
  box-shadow: 2px 2px 2px #EFEFEF;
  border: #EFEFEF;
  font-family: 'Roboto', sans-serif;
}

.card:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px #EFEFEF;
  border: #F9F9F9;
  opacity: 0.8;
}
